
.textRowContainer{
        align-items: center;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: rgb(80, 116, 138);
    }
.rowBtnTop{
        color: white;
        align-items: center;
        padding-top: 9px;
    }
.btnTop{ 
       color: rgb(17, 0, 78) !important ;
    }
    
.rowAlert{
        height: 50px;
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
.btnAlert{
        color: rgb(245, 8, 8) !important ;
    }
.rowBtbBody{
        padding-top: 3%;
        padding-left: 5%;
        
    }
    
.rowBtbBodypanelEdital{
        padding-top: 5%;
        padding-left: 3%;
        
    }
.responsive-image__image{
    width: 90%;
    cursor: pointer;
    transition: .5s ease;
}

.responsive-image__image:hover{
    opacity: 0.3;
}

.imgPanelTop{
    width: 80%;
    cursor: pointer;
    transition: .5s ease;
}
.imgPanel{
    width: 90%;
    cursor: pointer;
    transition: .5s ease;
}

.imgPanel:hover{
    opacity: 0.3;
}

  .btnVoltar{
    width: 80%; 
  }

.rowOptions{
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
@media (max-width: 768px) {
    .responsive-image__image{
        width: 80%;
    }
    .imgPanel{
        width: 100%;
    }
}
.container{
    max-width: 100%;
}    

.PanelBtn{
    width: 80%;
    height: 140%;
    border-radius: 0.6rem !important;
    background-color: rgb(199, 6, 6);
    border-color: rgb(199, 6, 6);
    outline:none !important;
}
.PanelBtnpanelEdital{
    width: 80%;
    height: 100%;
    border-radius: 0.6rem !important;
    background-color: rgb(199, 6, 6);
    border-color: rgb(199, 6, 6);
}

.PanelBtnpanelEdital:hover{
    background-color: rgba(199, 6, 6,0.7);
    border-color: rgba(199, 6, 6);
}

.PanelBtn:hover{
    background-color: rgba(1199, 6, 6,0.7);
    border-color: rgba(199, 6, 6);
}

.PanelBtnpanelEdital:active{
    background-color: rgba(199, 6, 6,0.7) !important;
    border-color: rgba(199, 6, 6) !important;
    outline:none !important;
}


.PanelBtn:active{
    background-color: rgba(1199, 6, 6,0.7) !important;
    border-color: rgba(199, 6, 6) !important;
    outline:none !important;
}

.iconBtnPanel{
    height: 4vw;
    width: auto !important;
}
.iconBtnpanelEdital{
    height: 3vw;
    width: auto !important;
}
.textBtnPanel{
    font-size: 1.6vw;
}
.divIcon{
    float:left;
    margin-top: 2%;
    margin-left: 6%;

}
.divIconPI{
    float:left;
    margin-top: 4%;
    margin-left: 6%;

}
.floatRight{
    float: right;
    margin-right: 1%;
    margin-top: 2%;
}
.inserir{
    position: relative;
    left: 22%;
}
.documentos{
    margin-top: -3%;

}
.consultar{
    position: relative;
    left: 8%;
}
.panelBtnPI2{
    width: 80%;
    height: 120%;
    border-radius: 0.6rem !important;
    background-color: rgb(199, 6, 6);
    border-color: rgb(199, 6, 6);
    margin-top: 2%;
}
.panelBtnPI2:hover{
    background-color: rgba(199, 6, 6,0.7);
    border-color: rgba(199, 6, 6),0.7;
}

.panelBtnPI2:active{
    background-color: rgba(199, 6, 6,0.7) !important;
    border-color: rgba(199, 6, 6,0.7) !important;
    outline:none !important;
}
.edital{
    position: relative;
    margin-top: 20%;
}
.textBtnPI{
    font-size: 2.2vw;
}

.divIconPIEdital{
    float:left;
    margin-top: 5%;
    margin-left: 6%;

}
.textBtnPIRepresentacao{
    font-size: 2.2vw;
}
.representacao{
    position: relative;
    margin-top: 8%;
}
.decisao{
    position: relative;
    margin-top: 15%;;
}

.btnBackStyle{
    background-color: rgb(209, 199, 199)!important;
    border:none !important;
    width: 6%;
    border-radius:5px;
    cursor: pointer; 
    transition: .5s ease;
    border: none !important;
    outline:none !;
    margin-left: 1%;
  
  }
  .btnBackStyle:focus {
    outline: 0 !important;
  }
  
  .btnBackStyle:hover{
    background-color: rgba(255,255, 255, 0.4) !important;
  }
  .arrowIcon{
    height: 2vw;
    width: auto !important;
    color: rgb(199, 6, 6);
  }
  .arrowfloatLeft{
    float:left;
  }
  .textBack{
    font-size: 1.2vw;
    color: rgb(199, 6, 6);
    
  }
  .floatRightBtnBakck{
    float: right;
    margin-right: 1%;
    margin-top: 6%;
  }
  .editalPanel{
    position: relative;
    margin-top: 8%;
  }
  .processoPanel{
    position: relative;
    margin-top: 5%;
  }
  .textPanelProcesso{
    font-size: 2.3vw;
  }
  


  @font-face {
    font-family: 'RalewayThin';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/Raleway-SemiBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/Comfortaa-Light.ttf) format('truetype');
  }



  @font-face {
    font-family: 'segoeui';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/segoeui.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/RobotoBold.ttf) format('truetype');
  }
  
  
  

  /* General button style */
.btn-font {
	border: none;
    border-radius: 3px;
	font-family: 'Roboto';
	font-size: 110%;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    width: 400px;
    height:120px;
    max-width: 500px;
    min-width: 250px;
    min-height: 100px;
    text-align: left;
}


.btn-font:after {
    content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn-font:before {
    font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: relative;
	-webkit-font-smoothing: antialiased;
    text-align: center;
}


/* Icon separator */
.btn-font-sep {
	padding: 25px 80px 25px 120px;
}

.btn-font-sep:before {
	background: rgba(255,255,255,0.3);
}

/* Button 1 */
.btn-font-1 {
	background: #2980b9;
	color: #fff;
}

.btn-font-1:hover {
	background: #82b7e1;
}

.btn-font-1:active {
	background: #82b7e1;
	top: 2px;
}
.btn-font-1:before {
    position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 120px;
	font-size: 195%;
    width: 80px;
    text-align: center;
}

.btn-font-sep2 {
	padding: 20px 80px 25px 100px;
}

.btn-font-sep2:before {
	background: rgba(255,255,255,0.3);
}





.btn-font-2 {
	background: #2980b9;
    color: #fff;
    height: 70px;
    min-height: 70px;
    font-size: 80%;
    width: 360px;
    
}

.btn-font-2:hover {
	background: #a8cdea;
}

.btn-font-2:active {
	background: #a8cdea;
	top: 2px;
}
.btn-font-2:before {
    background-color: #a8cdea;
    position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 65px;
	font-size: 140%;
    width: 80px;
    text-align: center;
}


.btn-font-back {
    background: #fff;
    color: #2980b9;
    height: 20px;
    min-height: 20px;
    font-size: 96%; 
    width: 400px;
    min-width: 200px !important;
    outline: none;
    
}

.btn-font-back:hover {
    background: #ffff;
    outline: none;
}

.btn-font-back:active {
    background: #ffff;;
    outline: none;
}
.btn-font-back:before {
    background-color: #ffff;
    color: #51a5e6;
    position: absolute;
    height: 100%;
    left: 0px;
	line-height: 23px;
	font-size: 140%;
    width: 10px;
    text-align: center;
    outline: none;

}
.btn-font-back:focus{
    outline: none;
}
.btn-font-sep-back {
    padding: 20px 20px 20px 20px;
    background-color: transparent;
}

.btn-font-sep-back:before {
	background: rgba(255,255,255,0.3);
}
.btn-font-sep-back:hover{
    background-color: transparent;
}


/* Icons */

.icon-cart:before {
	content: "\f07a";
}

.icon-heart:before {
	content: "\f55a";
}

.icon-info:before {
	content: "\f05a";
}

.icon-send:before {
	content: "\f1d8";
}
.textButtonInserir{
    text-align: left;
}
.ColCenter{
    display: flex;
    justify-content: left;
}
.Colleft{
    display: flex;
    justify-content: left;
}
.ColleftBack{
    display: flex;
    justify-content: left;
}

.divInternaBackground{
    background-image: url("../img/fundo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}
.controlMarginFooter{
    padding-bottom: 12.4%;
}
.controlMarginFooterPanelInicial{
    padding-bottom: 35vh;
}
.rowBtbBodyPanelInicial{
    padding-top: 24vh;
    padding-left: 5%;
}
.controlMarginFooterEdital{
    padding-bottom: 15%;
}