.RowBtnSubmit{
  padding-top:10px;
}
.RowElements{
  padding-top: 20px;
}
.tr{
  padding: 2px !important;
}
.BtnPesquisa{
  background-color: #2980b9  !important;
  border-color: #2980b9  !important;
  margin-top:0%;
}
.DivEdital{
  background-color: white;
  height:70% !important;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;


}
.divInternaConsultar{
  margin-left: 2%;
  margin-right: 2%;
  min-height: 560px;
  height: auto !important;
  overflow: hidden;
}

.table td, .table th {
  padding: 2px;
  vertical-align: top;
  border-top: none !important;
  font-size: 100% !important;
}
.inputText{
  border-top: 0px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;  
}
.textDescricao{
  min-height: 20vh;
}
.textDescricao:focus{
  box-shadow:none;
  border: 1px solid rgb(199, 6, 6)
}
.titleEdital{
  color:#2980b9;
  font-family: 'RobotoBold';
  font-weight: bold;
}
.textEdital{
  color:#2980b9;
  font-size: 90%;
  font-family: 'Roboto';
  font-weight: bold;
}
.controlMargin{
  height: 10px !important;
}
.filePond{
  margin-top:0%;
}
.textPalavraChave{
  color:rgb(199, 6, 6);
  font-size: 16px;
  padding-top: 3%;
  padding-left: 5%;
  font-family: 'Roboto';
}
.btnPalavraChave{
  border-color: rgb(199, 6, 6,0.8) !important;
}
.iconPalavraChave{
  color: rgb(199, 6, 6) !important;
}

.containerPalavraChave{
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(214, 204, 204, 0.4);
  border-radius: 7px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.rowPalavasChaves{
  padding-top:  1%;
  padding-bottom: 1%;
}
.divRowPalavraChave{
  display: flex
}

.box{
  display: flex;
  background-color:  #2980b9 !important;
  border-radius: 10px;
  margin-left: 7px;
  height: 30px;
  margin-top: 1% !important;
  margin-bottom: 1% !important;

}

.btnClose{
  color:  #2980b9 !important;
  background-color:  #2980b9 !important;
  border-color: #2980b9 !important;
  height: 100%;
  border-radius: 30px;
  margin-left: 4px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
  color: #fff;
  background-color:  #989898 !important;
  border-color: #989898 !important;
}
.btn-outline-primary {
  color: #989898 !important; 
  border: none;
}
.btn-outline-primary:hover{
  background-color: rgb(221, 219, 219) !important;
  color: rgb(255,255,255) !important;
}
.textoPalavraChave{
  margin-left:5px;
  margin-right: 5px;
  color: #fff; 
  margin-top:2px;
  white-space: nowrap !important;

}
.divBtn{
  width: 50%;
}
.iconClose{
  color: #fff;
  margin-bottom: 4px;
}
.textLabel{
  color:rgb(199, 6, 6);
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}

.divTabela{
  padding-top: 2%;
}

.page-item.active .page-link {
  z-index: 1;
  color: white !important;
  background-color: #2980b9 !important;
  border-color: #2980b9!important;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  padding-right: 8%;
}

.react-bs-table-bordered {
  border: none;
  border-radius: 5px;
}

.table-bordered td, .table-bordered th {
  border-top: none !important;  
  border-left: none !important;  
  border-right: none !important;
  border-bottom: 1px solid #dee2e6;
  font-family: 'Roboto';

}

.react-bs-table .table-bordered>thead>tr:first-child>td, .react-bs-table .table-bordered>thead>tr:first-child>th {
  color:  #2980b9 !important;
  font-size: 120% !important;
  font-family: 'Roboto';
  font-weight: bold;
  padding-bottom: 1%;
}
.react-bs-table .table-bordered>tbody>tr>td{
  color: #989898 !important;
  font-size: 100% !important;
  font-weight: bold;
  font-family: 'Roboto';
  padding-top: 0.4%;
}
.react-bootstrap-table-page-btns-ul {
  margin-top: 0;
  margin-left: 70%;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  outline: none !important;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color:#86b3d5 !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.tituloLeft{
  float: left;
  width: 80%;
}
.tituloRight{
  float: right;
  padding-right: 17%;
  padding-top: 3%;
}
.rowSubmit{
 margin-top: 1% !important;
}
.filePondDiv{
  width: 96.5%;
}
