.RowBtnSubmit{
  padding-top: 10px;
}
.RowElements{
  padding-top: 20px;
}
.BtnSubmit{
  background-color: rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
  margin-left: 10px;
}
.Div{
  background-color: white;
  height:100% !important;
  margin-top : 10px;
  border-radius: 5px;

}
.inputText{
  border-top: 0px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;  
}
.titleVoto{
  color:rgb(80, 116, 138);
}
.textVoto{
  color:rgb(80, 116, 138);
  font-size: 14px;
}
.controlMargin{
  height: 100px !important;
}

