.RowBtnSubmit{
  padding-top: 10px;
}
.RowElements{
  padding-top: 20px;
  width: 98%;
}
.BtnSubmit{
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
}
.DivConsultar{
  background-color: white;
  height:100% !important;
  border-radius: 5px;

}

.tituloTable{
  color:  rgb(199, 6, 6);

}
.table{
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 96% !important;

}
.rowTable{
  border-top-style: hidden !important;
}
.tdTable{
  border: 1% solid rgb(199, 6, 6) !important;
  color: rgb(199, 6, 6);
 }


.divInterna{
  margin-left: 3%;
  margin-right: 3%;
}
.tableRight{
  float: right;
  border: 2px solid  #989898;
  border-radius: 10px;
  width: 40%;
  opacity: 1;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  margin-top:5.5vh;
  margin-bottom:1vh;
}
.tableRightOpacity{
  width: 0px;
  opacity: 0;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.divTableRepresentacao{
  height: 100%;
}

.tableConsultar {
  margin-top: 2% !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 100% !important;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
}
.tableConstutar50percent{
  margin-top: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 60% !important;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
  float:left;
}

.cardProximos{
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
}
.tituloCardProximidade{
  padding-top: 0.8%;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: 3%;
}
.tituloCard{
  font-size: 70%;
  margin-left: 2px;
  color: rgb(199, 6, 6);
  font-weight: bold;
  font-family: 'Roboto';
}
.processoCard{
  font-weight: bold;
  margin-left: 2px;
  color: rgb(199, 6, 6);
  font-size: 70%;
  font-family: 'Roboto';
}
.hrCardRepresentacaoProxima{
  display: inline-block !important;
  width: 100% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: rgb(199, 6, 6) !important;
}
.rowLeftCard{
  float: left;
  max-width: 15vw;
}
.rowRightCard{
  float: right;
}
.btnCardRepresentacaoProximas{
  margin-top: 0.2vw;
  float: left;
  width: 2vw !important;
  height: 5vh !important;
}
.fa-lg{
  font-size: 1vw;
}
.columnTable{
  color: #989898 !important;
  font-size: 70% !important;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 5vh;
  padding-top: 1vh !important; 
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'columnTable';
  font-weight: bold;
}
.react-bootstrap-table th.sortable {
  cursor: pointer;
  color: #2980b9 !important;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
  outline: none !important;
}
.react-bootstrap-table table {
  table-layout: fixed;
  border: none !important;
}

.react-bootstrap-table tbody{
  padding-top: 2px !important;
}
.headerTable{
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 120% !important;
  font-family: 'Roboto';
}
.indicador{
  color: #989898 !important;
  padding-top: 15%;
}
.columnTableIcon{
  color: #989898 !important;
  font-size: larger !important;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 5vh;
  padding-top: 1vh !important; 
}
.btn:active{
  border: none !important;
  outline: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow:none
}
.inputText:focus{
  box-shadow:none;
  border: 1px solid #2980b9;
  font-family: 'Roboto';
}

.textDecisao{
  color:  #2980b9;
  font-size: 120%;
  font-family: 'Roboto';
  font-weight: bold;
  padding-top: 1%;
  padding-left: 30px;
}
.textDecisaoInt{
  color:  #2980b9;
  font-size: 120%;
  font-family: 'Roboto';
  padding-top: 1%;
  padding-left: 30px;
}
.parent-expand-foo{
  background-color: rgba(199, 6, 6,0.5);
}
.react-bs-table table td, .react-bs-table table th{
  white-space:nowrap;
}
.divInternaRepresentacao{
  width: 100%;
  float: left;
  background-color: #f8f8f8;
  border-radius: 10px;

}
.divInternaRepresentacaoRight{
  width: 49%;
  float: right;
}

.linha-vertical {
  border-right: 2px solid rgba(199, 6, 6,0.5);/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
  margin-bottom: 0.5%;
 }
 .textPalavraChaveBox{
  margin-left: 5px;
  color: #2e7dba;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 20px;
  text-decoration: underline;
  font-family: 'Roboto';
 }
 .divPalavrasChavesInterna{
   width: 100%;
 }
 .rowPalavasChavesInterna{
   width: 100%;
 }
 .wordCloundDiv{
  border-radius: 7px;
  margin-top: -1%;
 }
 .page-item{
   cursor:pointer;
   box-shadow: none !important;
 }
 .page-item:focus{
  box-shadow:none !important;
  border: 1px solid rgb(199, 6, 6);
 }
 .page-link:focus{
   box-shadow: none;
 }
 .simple-cloud{
   background-color: #f8f8f8 !important;
 }

 .rowPalavraChaveExpand{
 }
 .RowDecisaoExpand{
    margin-right: 0px;
    margin-left: 0.1%;
 }
 .divPalavrasChaves{
   margin-top: 1%;
   background-color: #f8f8f8 !important;
   border-radius: 10px !important;
 }
.empytTable{
  background-color:#fff3cd;
  border-radius: 7px;
}
.textEmpyt{
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 80%;
  font-family: 'Roboto';
  font-weight: bold;

}
.inputTextConsultar{
border-top: 0px solid !important;
border-left: 0px solid !important;
border-right: 0px solid !important;
border-bottom: 0px solid !important;
background-color: #ededed;
font-family: 'Roboto';
}

.inputTextConsultar:active{
  outline: none;
}
.inputTextConsultar:focus{
  background-color: #ededed;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.iconSerach{
  width: 20px !important;
}
.divTermos{
  background-color: #f8f8f8;
}
.consultarPalavraChave{
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #f8f8f8;
  border-radius: 7px;
  padding-left: 30px;
}
.btnDownload{
  padding-left: 30px;
}
.divDecisaoProx{
  background: #f8f8f8;
  border-radius: 15px;
}
.modal-90w{
  width: 100% ;
  max-width: 90%;
}
.tituloHeaderProximos{
  background-color: #2980b9;
  height: 40px;
}
.internaDecisao{
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
}