.rowHeader{
    padding-top: 1%;
    padding-bottom: 0%;
    padding-bottom: 1.5%;
    min-height: 85px;
    margin-right: -15px;
    margin-left: -15px;
}

.rowHeader2{
    padding-top: 1%;
    background-color: #ffffff;
    padding-bottom: 0%;
    padding-bottom: 1.5%;
    min-height: 85px;
    margin-right: -15px;
    margin-left: -15px;
}
.hr{
    color:rgb(255,255,255);
    height: 30;
    width: 100%;
    background-color:rgb(135, 206, 235);
    margin-top: 1%;

}
.logoDataMine{
   margin-left: 2px;
}

.imgEiditalView{
    margin-top:10%;
    padding-top: 1%;
    padding-bottom: 9%;
    width: 150px;;
    margin-left: 20%;

}
.imgTceView{
    width: 95%;
}
.logoEdital{
    display: grid;
    justify-content: flex-start;
}
.logoTce{
    display: grid;
    justify-content: flex-end;
}
.loginComponent{
    margin-top: 1%;
    display:inline-block;

}
.divLoginComponent{
    margin-top: 10%;
    margin-right: 20px;
}



