.divPrincipal{
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
}
.divInternaLoading{
    width: 200px;
}
.notification-container {
    box-sizing: border-box;
    position: fixed;
    top: 80% !important;
    right:45% !important;
    z-index: 999999;
    width: 320px;
    padding: 0px 15px;
    max-height: calc(100% - 30px);
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .notification-leave.notification-leave-active {
    visibility: hidden;
    transform: translate3d(0, 100%, 0) !important;
    transition: all 0.4s;
  }

  .notification-enter {
    visibility: hidden;
    transform: translate3d(0, 0, 0) !important;
  }