.textFooter{
    color:  #ffff !important;
    font-size: 100%;
    margin-top: 0%;
    font-family: 'Roboto';
    font-weight: bold;
    margin-left: 1%;
    width: 70%;
    position: relative;
    top: 2vh;

}
.textFooter{
    float: left;
}
.imgFooter{
    float: right;
    margin-right: 3%;
    margin-top: 1%;
}
.rodapeImg{
    width: 80%;
}
