.RowBtnSubmit{
  padding-top:10px;
}
.RowElements{
  padding-top: 20px;
}
.BtnSubmit{
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
  margin-left: 10px;
  font-family: 'Roboto';
  font-weight: bold;
}
.DivDecisao{
  background-color: white;
  height:70% !important;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.divInterna{
  margin-left: 3%;
  margin-right: 3%;
}
.inputText{
  border-top: 0px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;  
}

input:active{
  color: black;
}

.titleDecisao{
  color:#2980b9
}
.textDecisao{
  color:#2980b9;
  font-size: 14px;
}

.filePond{
  margin-top:2%;
}
.textPalavraChave{
  color:rgb(199, 6, 6);
  font-size: 16px;
  padding-top: 3%;
  padding-left: 5%;
}
.btnPalavraChave{
  border-color: rgb(199, 6, 6) !important;
}
.iconPalavraChave{
  color: rgb(199, 6, 6) !important;
}

.containerPalavraChave{
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(214, 204, 204, 0.4);
  border-radius: 7px;
  width: 96.5%;
  margin-right: 3.5%;
}
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.rowPalavasChaves{
  padding-top:  1%;
  padding-bottom: 1%;
}

.divRowPalavraChave{
  display: flex
}

.box{
  display: flex;
  background-color: rgba(199, 6, 6,0.9);
  border-radius: 10px;
  margin-left: 7px;
  height: 30px;
  margin-top: 1% !important;
  margin-bottom: 1% !important;

}

.btnClose{
  color:  #2980b9 !important;
  background-color:  #2980b9 !important;
  border-color: #2980b9 !important;
  height: 100%;
  border-radius: 30px;
  margin-left: 4px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
  color: #fff;
  background-color:  #989898 !important;
  border-color: #989898 !important;
}
.btn-outline-primary {
  color:  rgb(199, 6, 6) 
}
.btn-outline-primary:hover{
  background-color: rgb(221, 219, 219) !important;
  color: rgb(255,255,255) !important;
}
.textoPalavraChave{
  margin-left:5px;
  color: #fff; 
  margin-top:2px;
}
.divBtn{
  width: 50%;
}
.iconClose{
  color: #fff;
  margin-bottom: 4px;
}
.textLabel{
  color:#2980b9 ;
  font-size: 15px;
}
.divTermos{
  background-color: #989898;
}
.ColleftTitle{
    padding-left: 4%;
    padding-top: 2%;
}
.divTitleEdital{
  margin-top: 7%;
}
.ck.ck-toolbar {
  margin-top: 2% !important;
  position: sticky !important;
  top: 0px !important;
}
.ck.ck-editor__editable_inline{
  border: 1px solid rgb(177, 169, 169) !important;
}