body {
    font-size: 14px;
  }
.left{
    width: 400px;
    margin-left: 20%;
    margin-top: 20vh;
}
.right{
    width: 100%;
    padding-top: 8%;
    padding-left: 0%;
    margin-top: 10vh;
    margin-left: 10%;
}
.inputLogin{
    border-top: 0px solid !important;
    border-left: 0px solid !important;
    border-right: 0px solid !important;
    background-color: #438bc6 !important;
    border-bottom: 1px solid #438bc6;
    color: rgb(255,255,255) !important;
    outline: none !important;
    -webkit-text-fill-color: rgb(255,255,255) !important;
    margin-top: 4%;
}
.divFixed{
  position: fixed;
}

@media screen and (min-width:1920px) {
	.textTitleLogin{
        margin-top: 2%;
        color:  rgb(255,255,255) !important;

    }
    .inputLogin{
    }
    .titleBtn{
    }
}

.inputLogin::placeholder{
    color:rgb(255,255,255);
}
.inputLogin:focus{
    box-shadow: none !important;
}
.inputLogin::after{
    background-color: rgb(80, 116, 138) !important;
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0);
}
/*Change text in autofill textbox*/
input inputLogin:-webkit-autofill
input inputLogin:-webkit-autofill:hover,
input inputLogin:-webkit-autofill:focus,
input inputLogin:-webkit-autofill:active {
    -webkit-text-fill-color: rgb(255,255,255) !important;
}
.textTitleLogin{
    color:  rgb(255,255,255) !important;
    font-size: 1.2vw;
    margin-top: 2%;
    font-family: 'Roboto';
    font-weight: bold;
    
}
.textTitleBTNLogin{
    color:  #438bc6 !important;
    font-size: 1.2vw;
    margin-top: 2%;
    font-family: 'Roboto';
    font-weight: bold;
}

.BtnSubmitLogin{
    background-color: rgb(255,255,255) !important;
    border-color: rgb(255,255,255)!important;
    width: 100%;
  }
  .rowBtnLogin{
      margin-top: 5%;
  }
  .novoCadastro{
      margin-top: 5%;
      align-items: center;
  }
  .btnCadastre{
    background-color: rgb(80, 116, 138) !important;
    border-color: rgb(80, 116, 138)!important;
  }
  .rowSubmitLogin{
    margin-top: 2% !important;
  }
  .DivFormLogin{
    background-color: white;
    height:80vh !important;
    margin-top : 1% !important;
    border-radius: 5px;
  }
  .titleBtn{
    color: rgb(255,255,255) !important;
    font-size: 1.2vw;
    padding-top: 0.27vw;
  }
  .pointer{
      cursor: pointer;
  }
  .iconUser{
      color:  rgb(255,255,255);;
      margin-top: 0%;
      margin-left: 30px;
      position:relative;
      font-size: 40px;
  }
  .textUserComponent{
      color: rgb(255,255,255);;
      font-size: 18px;
      font-family: 'Roboto';
      font-weight: bold;
  }
  .inlineComponent{
    display:flex;
  }
  .BtnLogout{
    color:  rgb(255,255,255);;
    background-color: #FFFF!important;
    border: none !important;
    position: relative;
  }
  .iconLogout{
    position: absolute;
    top: 25%;
    left: 50%;
  }
  .exitText{
    font-size: 10px;
    color: #FFFF;
    cursor:pointer;
    text-align: right;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .exitText:hover{
    color: rgb(201, 201, 201)
  }
  .divBody{
    width: 100%;
    height: 100%;
    margin-left: -15px;
  }
  .BtnInputLogin{
    background-color: #5cadee !important;
    border-color: #5cadee  !important;
    margin-top:0%;
    height: 75%;
    margin-top: 35%;
  }
  .qrCode{
    width: 250px;
    margin-left: 10%;
    margin-top: 5%;
  }
  .line{
    width: 1px;
    background-color: #ffff;
    height: 100%;
    float: left;
    border-radius: 2px;
    margin-top: 100%;
    margin-left: 10%;
  }
  .divInternaFormLogin{
    margin-left: 6%;
    margin-right: 6%;
  }

  @media screen and (max-width:1200px) {
    .line{
      width: 0px;
      background-color: #ffff;
      height:0px;
      float: left;
      border-radius: 0px;
      margin-top: 0%;
      margin-left: 0%;
    }
    }

    @media screen and (max-width:480px) {
      .right{
        width: 0%;
        padding-top: 0%;
        padding-left: 0%;
        margin-top: 0%;
        margin-left: 0%;
        visibility:hidden;
      }
      .left{
        width: 80%;
        margin-left: 15%;
        margin-top: 20%;
      }
      .BtnInputLogin{
        background-color: #5cadee !important;
        border-color: #5cadee  !important;
        margin-top:0%;
        height: 80%;
        margin-top: 25%;
      }
      }
      .controlMarginLogin{
        padding-top: 18vh;
      }
      .qRCodeText{
        width: 100%;
      }